<h2>About Me</h2>
<img class="about-image" src="/images/melanie-profile-pic1.jpeg">
<p>Melanie German is a full-stack Ruby on Rails developer. She is adept with HTML, CSS, JavaScript, 
and developing web applications with Ruby on Rails.  Through her WebDev course, she learned to build 
DevMatch, a social media website to connect developers with entrepreneurs and investors. She has mastered
creating contact forms, accepting payments, and building and maintaining social media profiles and 
databases.</p></br>
<p>Melanie has been with Apple for more than 5 years, which has allowed her to better understand the
perceptions of end users. As a trainer, she is proficient at iOS and Mac OS, and has developed expertise 
in the art of troubleshooting. Working in such a fast-paced environment, has allowed Melanie to develop 
skills in multitasking and providing user support for customers and employees with ease.</p></br>
<p>Melanie has lived in Los Angeles, CA, for 4 years, since moving from Oklahoma. She loves catching 
up on the latest TV shows and superhero movies, working out at SoulCycle, and playing games on her 
Nintendo 3DS.</p></br>