<div id="page1">
  <a id="home" class="smooth"></a>
    Home page content goes here.
</div>
 
<div id="page2">
  <a id="about" class="smooth"></a>
    About page content goes here.
</div>
 
<div id="page3">
  <a id="experience" class="smooth"></a>
    Experience page content goes here.
</div>

<div id="page4">
  <a id="contact" class="smooth"></a>
    Contact page content goes here.
</div>
 
