<div id="page1">
  <a id="home" class="smooth"></a>
    Home page content goes here.
</div>
 
<div id="page2">
  <a id="about" class="smooth"></a>
    <div class="about-me-margin">
        <div class="col-md-4 text-center">
            <img class="about-image" src="/images/melanie-profile-pic1.jpeg">
        </div>
    <div class="col-md-8">
        <h2 class="about-me">ABOUT ME</h2>
        <p>Melanie German is a full-stack Ruby on Rails developer. She is adept with HTML, CSS, JavaScript, 
        and developing web applications with Ruby on Rails.  Through her WebDev course, she learned to build 
        DevMatch, a social media website to connect developers with entrepreneurs and investors. She has mastered
        creating contact forms, accepting payments, and building and maintaining social media profiles and 
        databases.</p></br>
        
        <p>Melanie has been with Apple for more than 6 years, which has allowed her to better understand the
        perceptions of end users. As a trainer, she is proficient at iOS and Mac OS, and has developed expertise 
        in the art of troubleshooting. Working in such a fast-paced environment, has allowed Melanie to develop 
        skills in multitasking and providing user support for customers and employees with ease.</p></br>
        
        <p>Melanie has lived in Los Angeles, CA, for 5 years, since moving from Oklahoma. She loves catching 
        up on the latest TV shows and superhero movies, working out at SoulCycle, and playing games on her 
        Nintendo 3DS.</p></br>
    </div>
</div>
 
<div id="page3">
  <a id="experience" class="smooth"></a>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Experience</h2>
        </div>
    </div>
    <div class="experience-container">
        <div class="row">
            <div class="left-item col-md-6">
                <div class="experience-box">
                    <h5>GRIFFIN MEMORIAL</h5>
                    <p class="range">2005-2010</p>
                    <p>Melanie assisted with billing and clerical duties in the Reimbursement department for 
                    more than 5 years. She also helped train new work-study employees.</p>
                </div>
                <!-- <div id="triangle-right"></div> -->
                <div class="experience-circle"></div>
            </div>
            <div class="col-md-6 right-item"></div>
        </div>
    </div>
    <div class="experience-container">
        <div class="row">
            <div class="left-item col-md-6"></div>
            <div class="col-md-6 right-item">
                <div class="experience-circle"></div>
                <div class="experience-box">
                    <!-- <div id="triangle-left"></div> -->
                    <h5>SKYLINE MEDIA, INC.</h5>
                    <p class="range">2009</p>
                    <p>Melanie worked in the video production department with Skyline Media. She helped 
                    with pre-production, on set, and for production for more than 5 different clients local 
                    to the Oklahoma City area.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="experience-container">
        <div class="row">
            <div class="left-item col-md-6">
                <div class="experience-box">
                    <h5>LINDSEY + ASP</h5>
                    <p class="range">2009-2010</p>
                    <p>Melanie helped open Lindsey+Asp as Creative Director of Print. 
                    She designed an award-winning campaign for the Norman Police Department and helped 
                    develop print and web advertisements for multiple organizations.</p>
                    <!-- <div id="triangle-right"></div> -->
                </div>
                <div class="experience-circle"></div>
            </div>
            <div class="col-md-6 right-item"></div>
        </div>
    </div>
    <div class="experience-container">
        <div class="row">
            <div class="left-item col-md-6"></div>
            <div class="col-md-6 right-item">
                <div class="experience-circle"></div>
                <div class="experience-box">
                    <!-- <div id="triangle-left"></div> -->
                    <h5>APPLE</h5>
                    <p class="range">2010-PRESENT</p>
                    <p>Melanie has worked her way up to trainer during her 5+ years at Apple. She has maintained 
                    a 92% approval rating, with more than 700 people praising her knowledge, expertise, and 
                    professionalism. Through her different roles she has mastered Mac OS and iOS, and is called 
                    upon by employees and customers to troubleshoot many different issues daily. Working in such 
                    a fast-paced environment has helped her hone her multitasking and customer service skills.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="experience-container">
        <div class="row">
            <div class="left-item col-md-6">
                <div class="experience-box">
                    <h5>WEB DEVELOPMENT</h5>
                    <p class="range">2015-PRESENT</p>
                    <p>Melanie helped open Lindsey+Asp as Creative Director of Print. 
                    Through this self-paced online course, Melanie has been able to develop several 
                    Ruby on Rails applications. Her expertise includes GitHub, deploying web apps with Heroku, 
                    building functioning contact forms with SendGrid, accepting payments with Stripe, and building 
                    and maintaining social media profiles and databases. She is also proficient in HTML, CSS, 
                    JavaScript, Ruby, and the Ruby on Rails framework. She is also experienced with Python and 
                    Objective-C, and has much more planned for the future. You can check out DevMatch 
                    <a class="linkedin-link" href="afternoon-river-35407.herokuapp.com">here.</a></p>
                    <!-- <div id="triangle-right"></div> -->
                </div>
                <div class="experience-circle"></div>
            </div>
            <div class="col-md-6 right-item"></div>
        </div>
    </div>
</div>

<div id="page4">
  <a id="contact" class="smooth"></a>
      <p>Contact info goes here.</p>
</div>
 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://github.com/kswedberg/jquery-smooth-scroll/blob/master/jquery.smooth-scroll.min.js"></script>
<script>
$('.smooth').on('click', function() {
    $.smoothScroll({
        scrollElement: $('body'),
        scrollTarget: '#' + this.id
    });
    
    return false;
});
</script>