<div class="jumbotron">
    <h1 class="hello">Hello, World!</h2>
    <p>I'm Melanie German,<br> a self-taugh Ruby on Rails developer.</p>
    <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
</div>