<div id="page1">
  <a id="home" class="smooth"></a>
    Home page content goes here.
</div>
 
<div id="page2">
  <a id="about" class="smooth"></a>
    <div class="about-me-margin">
        <div class="col-md-4 text-center">
            <img class="about-image" src="/images/melanie-profile-pic1.jpeg">
        </div>
    <div class="col-md-8">
        <h2 class="about-me">ABOUT ME</h2>
        <p>Melanie German is a full-stack Ruby on Rails developer. She is adept with HTML, CSS, JavaScript, 
        and developing web applications with Ruby on Rails.  Through her WebDev course, she learned to build 
        DevMatch, a social media website to connect developers with entrepreneurs and investors. She has mastered
        creating contact forms, accepting payments, and building and maintaining social media profiles and 
        databases.</p></br>
        
        <p>Melanie has been with Apple for more than 6 years, which has allowed her to better understand the
        perceptions of end users. As a trainer, she is proficient at iOS and Mac OS, and has developed expertise 
        in the art of troubleshooting. Working in such a fast-paced environment, has allowed Melanie to develop 
        skills in multitasking and providing user support for customers and employees with ease.</p></br>
        
        <p>Melanie has lived in Los Angeles, CA, for 5 years, since moving from Oklahoma. She loves catching 
        up on the latest TV shows and superhero movies, working out at SoulCycle, and playing games on her 
        Nintendo 3DS.</p></br>
    </div>
</div>
 
<div id="page3">
  <a id="experience" class="smooth"></a>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Experience</h2>
        </div>
    </div>
    <div class="experience-container">
        <div class="row">
            <div class="col-md-6 left-item">
                <div class="experience-box">
                    <h6>GRIFFIN MEMORIAL</h6>
                    <p class="range">2005-2010</p>
                    <p>Melanie assisted with billing and clerical duties in the Reimbursement department for 
                    more than 5 years. She also helped train new work-study employees.</p>
                </div>
                <div class="experience-circle"></div>
            </div>
        </div>
    </div>
</div>

<div id="page4">
  <a id="contact" class="smooth"></a>
    Contact page content goes here.
</div>
 

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://github.com/kswedberg/jquery-smooth-scroll/blob/master/jquery.smooth-scroll.min.js"></script>
<script>
$('.smooth').on('click', function() {
    $.smoothScroll({
        scrollElement: $('body'),
        scrollTarget: '#' + this.id
    });
    
    return false;
});
</script>