<!--Start Welcome Section-->
<section class="welcome-area image-bg" id="welcome-area" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="2500">
    <div class="welcome-text">
        <h6>I Am Melanie German</h6>
        <div class="element"></div>
        <a href="#" class="btn-style2 hire-btn">HIRE ME</a>
    </div>
</section>
<!--End Welcome Section-->

