<div class="row well">
    <div class="col-md-12">
        <h2>Experience</h2>
    </div>
    <div class="col-md-12 job">
        <div class="row">
            <div class="col-md-12">
                <h3>WebDev Course</h3>
            </div>
            <div class="col-md-4 text-center">
                <img class="experience-img" src="/images/devmatch.jpg">
            </div>
            <div class="col-md-8">
                <p>Through this self-paced online course, Melanie has been able to develop several 
                Ruby on Rails applications. Her expertise includes GitHub, deploying web apps with Heroku, 
                building functioning contact forms with SendGrid, accepting payments with Stripe, and building 
                and maintaining social media profiles and databases. She is also proficient in HTML, CSS, 
                JavaScript, Ruby, and the Ruby on Rails framework. She is also experienced with Python and 
                Objective-C, and has much more planned for the future.</p>
            </div>
        </div>
    </div>
    <div class="col-md-12 job">
        <div class="row">
            <div class="col-md-12">
                <h3>Apple</h3>
            </div>
            <div class="col-md-8">
                <p>Melanie has worked her way up to trainer during her 5+ years at Apple. She has maintained 
                a 92% approval rating, with more than 700 people praising her knowledge, expertise, and 
                professionalism. Through her different roles she has mastered Mac OS and iOS, and is called 
                upon by employees and customers to troubleshoot many different issues daily. Working in such 
                a fast-paced environment has helped her hone her multitasking and customer service skills.</p>
            </div>
            <div class="col-md-4 text-center">
                <img class=" experience-img" src="/images/melanie-apple.jpg">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h2>Other</h2>
    <div class="col-md-12 job">
        <div class="row">
            <div class="col-md-4">
                <h3>Lindsey + Asp</h3>
                <img class="other-img text-center" src="/images/lindsey-and-asp-logo.jpg">
                <p>Melanie helped open Lindsey+Asp as Creative Director of Print. 
                She designed an award-winning campaign for the Norman Police Department and helped 
                develop print and web advertisements for multiple organizations.</p>
            </div>
            <div class="col-md-4">
                <h3>Skyline Media, Inc.</h3>
                <img class="other-img text-center" src="/images/skyline-logo.jpg">
                <p>Melanie worked in the video production department with Skyline Media. She helped 
                with pre-production, on set, and for production for more than 5 different clients local 
                to the Oklahoma City area.</p>
            </div>
            <div class="col-md-4">
                <h3>Griffin Memorial</h3>
                <img class="other-img text-center" src="/images/gmh-logo.jpg">
                <p>Melanie assisted with billing and clerical duties in the Reimbursement department for 
                more than 5 years. She also helped train new work-study employees.</p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        </br><p class="text-center">For Melanie's comprehensive experience profile, please checkout 
        <a class="linkedin-link" href="http://linkedin.com/in/melaniegerman">LinkedIn</a>.</p>
    </div>
</div>