<!DOCTYPE html>
<html>
<head>
    
</head>   
<body>
    
    <p>You have a new message from the contact form on melaniegerman.com.</p></br>
    <p>From: <%= "#{@name}" %></p>
    <p>Email: <%= "#{@email}" %></p></br>
    <p><%= "#{@body}" %></p>
    
</body>
</html>