.about .container .row {
    margin-right: 15px;
}

.about-image {
    display: inline;
    width: 350px;
    padding-top: 25px;
    border-radius: 1%;
}

.well h2 {
    color: #ea0040;
}

.about-me {
    margin-bottom: 20px;
}

/* #page2 {
    background-color: white;
}
*/