@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

body {
    background-color: #FAEFED;
    padding-top: 65px;
}

.jumbotron-custom {
    background: transparent;
    color: white;
}

.navbar-static-top {
    background: rgba(0,0,0,0); //Makes background color transparent. Last number between 0 and 1.
    border-bottom-width: 0px;
}

.navbar .container .navbar-header a, .navbar .nav li a { //changes left and right side of navbar, respectively
    color: #ea0040;
}
.navbar .container .navbar-header a:hover, .navbar .nav li a:hover {
    color: white;
}

.m-logo {
    height: 20px;
    float: left;
    margin-right: 14px;
}

.jumbotron {
background: #000000; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #434343 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #434343 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
// gradient by uigradients.com
     color: black;   
}

.jumbotron .hello {
    color: #ea0040;
}

#page1, #page2, #page3, #page4 {
    height: 1000px;
}