.job .row .col-md-4 img {
    height: 140px;
    border-radius: 6%;
}

.job .row .experience-img {
    height: 200px;
    border-radius: 6px;
}

.linkedin-link:hover {
    text-decoration: none;
    color: #ea0040;
}



.left-item .experience-circle {
    position: absolute;
  width: 18px;
  height: 18px;
  border: 5px solid #407495;
  border-radius: 25px;
  left: -21px;
  text-align: right;
  top: 53px;
  z-index: 3;
}